*
{
	box-sizing: border-box;
}
body
{
	padding: 0;
	margin: 0;
	background-color: black ;
	font-family: Arial, Tahoma, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6
{
	padding: 0;
	margin: 0;
}
@font-face
{
	font-family:hemi head bd it;
	src: url('../fonts/hemi head bd it.ttf');
}
@font-face
{
	font-family:College Block;
	src: url('../fonts/College Block.ttf');
}
@font-face
{
	font-family: ATROX-normal;
	src:url('../fonts/webfonts_ATROX-normal/ATROX-normal.ttf.woff') format('woff'),
	url('../fonts/webfonts_ATROX-normal/ATROX-normal.ttf.svg#ATROX-normal') format('svg'),
	url('../fonts/webfonts_ATROX-normal/ATROX-normal.ttf.eot'),
	url('../fonts/webfonts_ATROX-normal/ATROX-normal.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family:SqueakyChalkSound;
	src: url('../fonts/SqueakyChalkSound.ttf');
}

@font-face
{
	font-family:hemi head bd it;
	src: url('../fonts/hemi head bd it.ttf');
}
@font-face
{
	font-family:notabv;
	src: url('../fonts/notabv.ttf');
}

.news
{
  background-color: rgba(0,150,0,0.21)
  padding: 1%;
  margin: 0;
  color:rgb(255, 255, 255);
  border-radius: 6%;
}
#con
{
	font-size: 1.5vw;
	color:rgb(35, 15, 40);
	font-family:SqueakyChalkSound;
	letter-spacing: 0.1px;
}
#sap
{
	font-size: 3.75vw;
	font-family: ATROX-normal;
	letter-spacing: 2px;
}
#welcome
{
		color: rgb(250,250,250);
		font-family: Arial;
		font-size: 30px;
}
.c1
{
	color:rgba(255,255,255,0.7);
}
.c2
{
	color:rgba(255,255,255,0.7);
}
.name
{
	font-style: normal;
	font-family: notabv;
	font-size: 50px;
}
.qut
{
	font-size:17px;
}
.container2
{
  letter-spacing: 2px;
	padding:0;
  margin:0;
  font-family: notabv;
  height:10.4vh;
  font-size: 1.2em;
}
.navcom
{
  padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color:rgba(255,255,255,0.7);
}
.navcom:hover
{
	transition-delay: 0.1s;
	transition-duration: 0.4s;
	cursor:pointer;
	background: rgba(255,255,255,0.1);
}
.ico
{

	padding-top :1.5vw;
	padding-bottom :1.5vw;
	transition-duration: 0.3s;
}
.ico:hover
{
	transition-duration: 0.3s;
	transition-delay: 0.1s;
	padding-left: 25.6vw;
}
.btn
{
	margin: 0.5vw;
}
#fb
{
	background: rgb(59, 89, 152);
}
#ig
{
	background: rgb(18, 86, 136);
}
#tw
{
	background: rgb(85, 172, 238);
}
#wa
{
	background: rgb(77, 194, 71);
}
#mi
{
	background: rgb( 221, 75, 57);
}
