DirectoryIndex public/index.php

Options -Multiviews
RewriteEngine On

RewriteBase public/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ public/index.php?url=$1 [QSA,L]
