DirectoryIndex public/index.php

Options -Multiviews
RewriteEngine On

RewriteBase http://52.41.195.76/public/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^$ http://52.41.195.76/public/index.php [L,R=301]
